---
import { Picture } from "astro:assets";
import HelpPopup from "./helpPopup.astro";
import Scripts from "./scripts.astro";

/**
 * The template for displaying the footer
 */
const copyrightStart = import.meta.env.COPYRIGHT_START;
const comicName = import.meta.env.COMIC_NAME;
const base = import.meta.env.BASE_URL;

const menu = [
  { text: "Home", path: `${base}/` },
  { text: "About", path: `${base}/about` },
  { text: "Characters", path: `${base}/characters` },
  { text: "Shop", path: "https://example.com", target: "_blank" },
  { text: "Archive", path: `${base}/archive` },
]; 

const followMenu = [
    { text: "Bluesky", path: "", target: "_blank" },
    { text: "Comic Rocket", path: "", target: "_blank" },
    { text: "Archive Binge", path: "", target: "_blank" },
    { text: "RSS", path: "/rss", target: "_blank" },
];

const year = new Date().toLocaleDateString('en-US', { year: 'numeric' });
const images = import.meta.glob<{ default: ImageMetadata }>(`../assets/images/footer/*.{jpeg,jpg,png,gif}`);
const footerImagePath = `..${import.meta.env.FOOTER_IMAGE_PATH}`;
const footerImageAltText = import.meta.env.FOOTER_IMAGE_ALT_TEXT; 

console.log(images);
console.log(footerImagePath);
    
---

<footer id="colophon" class="site-footer">
    <div class="site-footer__menu-wrapper">
        <div class="site-footer__menu-column">
            <h4>Menu</h4>
            <div class="menu-primary-container">
                <ul class="menu">
                    { menu.map((data) => <li class="menu-item"><a href={data.path} target={data.target || "_self"}>{data.text}</a></li>)}
                </ul>
            </div>
        </div>
        <div class="site-footer__menu-column">
            <h4>Follow Us</h4>
            <ul class="menu">
                { followMenu.map((data) => <li class="menu-item"><a href={data.path} target={data.target || "_self"}>{data.text}</a></li>)}
            </ul> 
        </div>
        <div class="site-footer__menu-column hide-small">
            <Picture
                src={images[footerImagePath]()}
                alt={footerImageAltText}
                formats={['webp']}
                layout='responsive'
                loading="lazy"
                widths={[200, 400]}
                sizes="(max-width: 991px) 200px, 400px"
            /> 
        </div>
    </div>
    <div class="copyright">
        <p>© {copyrightStart} - {year} {comicName}</p>
    </div>
</footer><!-- #colophon -->
<!-- #page -->

<HelpPopup/>

<Scripts/>
