---
const shopLink = import.meta.env.SHOP_LINK;
const base = import.meta.env.BASE_URL;
const menu = [
  { text: "Home", path: `${base}/` },
  { text: "About", path: `${base}/about` },
  { text: "Characters", path: `${base}/characters` },
  { text: "Shop", path: shopLink, target: `_blank` },
  { text: "Archive", path: `${base}/archive` },
];
---

<nav id="site-navigation" class="main-navigation">
    <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Menu</button>
    <div class="menu-primary-container">
        <!-- TODO: current-menu-item -->
        <ul id="primary-menu" class="menu">
            { menu.map((data) => <li class="menu-item"><a href={data.path} target={data.target || "_self"}>{data.text}</a></li>)}
        </ul>
    </div>
</nav>