---
import BaseLayout from "./baseLayout.astro";
import ComicNavigation from '../components/comicNavigation.astro';
import ComicBlog from '../components/comicBlog.astro';
import { comicImageBasePath, isLastComic, getNextComic } from "../utils";

const { frontmatter, comicOverride } = Astro.props;
const comic = comicOverride ? comicOverride : frontmatter; 
const base = `${import.meta.env.BASE}/` || "";

const comicSrc = comicImageBasePath + comic.imageFile;
const isLast = await isLastComic(comic.slug); 
const nextComic = await getNextComic(comic.slug);
const nextHref = isLast ? "" : `${base}comic/` + nextComic?.data.slug;

console.log(comicImageBasePath)
console.log(comicSrc);
---

<BaseLayout pageTitle={comic.title} comic={comic}>
    <main id="primary" class="site-main">
        <article class="post">
            <div class="comic-wrapper">
                <div class="comic">
                    <div class="post-thumbnail">
                        <a href={nextComic}>
                        <img
                            width="770"
                            height="996"
                            src={comicSrc}
                            alt="See transcript"
                            decoding="async"
                        />
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <ComicNavigation comic={comic} />
        <ComicBlog comic={comic}><slot/></ComicBlog> 
    </main>
</BaseLayout>
